<div class="ads">
  <div class="ad">
    <div class="text">
      <div class="strong">Up To 10% OFF</div>
      Use Code <ins>Loreal</ins> on l'oreal Products
    </div>
    <img src="/assets/images/adves/ad1.png" alt="" />
  </div>
  <div class="ad">
    <div class="text">
      <div class="strong">Up to 5% OFF</div>
      when buying the Tide Laundry Detergent Collection
    </div>
    <img src="/assets/images/adves/adve2.png" alt="" />
  </div>
  <div class="ad">
    <div class="text">
      <div class="strong">Up to 5% OFF</div>
      on Judy kids wear
    </div>
    <img src="assets/images/adves/adve3.png" alt="" />
  </div>
  <div class="ad">
    <div class="text">
      <div class="strong">Up to 15% OFF</div>
      On Samsung Smart Tvs
    </div>
    <img src="assets/images/adves/adve4.png" alt="" />
  </div>
</div>
