<section class="kids women">
  <h1 class="title">Women's Fashion Up To 80% OFF</h1>
  <img class="side-image" src="/assets/images/woman-fashion.webp" alt="" />

  <div class="categories">
    <div class="category-item">
      <img src="/assets/images/women/tops.png" alt="" />
      <div class="name">Tops</div>
    </div>
    <div class="category-item">
      <img src="/assets/images/women/dresses.png" alt="" />
      <div class="name">Dresses</div>
    </div>
    <div class="category-item">
      <img src="/assets/images/women/hijab.png" alt="" />
      <div class="name">Hijab</div>
    </div>
    <div class="category-item">
      <img src="/assets/images/women/sports-wear.png" alt="" />
      <div class="name">Sports Wear</div>
    </div>
    <div class="category-item">
      <img src="/assets/images/women/shoes.png" alt="" />
      <div class="name">Sports Shoes</div>
    </div>

    <div class="category-item">
      <img src="/assets/images/women/leggings.png" alt="" />
      <div class="name">Leggings</div>
    </div>
    <div class="category-item">
      <img src="/assets/images/women/sandal.png" alt="" />
      <div class="name">Sandals</div>
    </div>
  </div>

  <app-products
    title="Women's Fashion"
    categoryName="Women's Trending"
  ></app-products>
</section>
