<section class="products-container">
  <mat-card *ngIf="isLoaded; else elseBlock">
    <mat-toolbar class="tool-bar">
      <span>All Products</span>
      <div class="buttons-box">
        <button routerLink="create" mat-raised-button>
          <mat-icon>add</mat-icon>Create Product
        </button>
      </div>
    </mat-toolbar>
    <mat-form-field appearance="standard">
      <mat-label>Search</mat-label>
      <input
        matInput
        (input)="applyFilter($event)"
        placeholder="Ex. Dumbells"
      />
    </mat-form-field>
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
        <ng-container
          *ngFor="let column of columns"
          [matColumnDef]="column.columnDef"
        >
          <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
          <td mat-cell *matCellDef="let row">{{ column.cell(row) }}</td>
        </ng-container>
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef>Product Image</th>
          <td mat-cell *matCellDef="let column">
            <img [src]="apiURL + column.mainImage" alt="" />
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let column">
            <button
              mat-mini-fab
              color="primary"
              [style.marginRight]="'10px'"
              routerLink="editProduct/{{ column._id }}"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-mini-fab
              color="primary"
              (click)="removeProduct(column._id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No Products Found</td>
        </tr>
      </table>
    </div>
    <div class="pagination" *ngIf="products.length > 12">
      <button
        mat-raised-button
        color="primary"
        [disabled]="page === 1"
        (click)="pagination(-1)"
      >
        <mat-icon>skip_previous</mat-icon>
      </button>

      <button
        mat-raised-button
        color="primary"
        [disabled]="this.products.length < 12"
        (click)="pagination(1)"
      >
        <mat-icon>skip_next</mat-icon>
      </button>
    </div>
    <mat-toolbar class="tool-bar">
      <span>All Categories</span>
      <div class="buttons-box">
        <button mat-raised-button (click)="createCategoryConfirmation()">
          <mat-icon>add</mat-icon>Create Category
        </button>
      </div>
    </mat-toolbar>
    <div class="categories-container">
      <div class="category" *ngFor="let category of _products.categories">
        <div class="category-name">{{ category.name }}</div>
        <div class="category-sub-categories">
          <span *ngFor="let subCategory of category.subCategories">{{
            subCategory.name
          }}</span>
        </div>
        <div class="actions">
          <mat-icon
            color="primary"
            (click)="editCategoryConfirmation(category._id)"
            >edit</mat-icon
          >
          <mat-icon
            color="accent"
            (click)="deleteCategoryConfirmation(category._id)"
            >delete</mat-icon
          >
        </div>
      </div>
    </div>
  </mat-card>

  <ng-template #elseBlock>
    <div class="spinner-box">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</section>
