<section class="kids">
  <h1 class="title">Kids' Fashion Up To 30% OFF</h1>
  <div class="top">
    <div class="boys">
      <img src="/assets/images/kids/boys.webp" alt="" />
      <div class="caption">Boys' Fashion</div>
    </div>
    <div class="girls">
      <img src="/assets/images/kids/girls.jpg" alt="" />
      <div class="caption">Girls' Fashion</div>
    </div>
  </div>
  <div class="categories">
    <div class="category-item">
      <img src="/assets/images/kids/tops.webp" alt="" />
      <div class="name">Tops</div>
    </div>
    <div class="category-item">
      <img src="/assets/images/kids/bottoms.png" alt="" />
      <div class="name">Bottoms</div>
    </div>
    <div class="category-item">
      <img src="/assets/images/kids/pyjama.webp" alt="" />
      <div class="name">Pyjamas</div>
    </div>
    <div class="category-item">
      <img src="/assets/images/kids/dresses.png" alt="" />
      <div class="name">Dresses</div>
    </div>
    <div class="category-item">
      <img src="/assets/images/kids/shoes.png" alt="" />
      <div class="name">Shoes</div>
    </div>
    <div class="category-item">
      <img src="/assets/images/kids/bags.png" alt="" />
      <div class="name">Bags</div>
    </div>
  </div>

  <app-products
    title="Kids' Fashion"
    categoryName="Kids' Trending"
  ></app-products>
</section>
