<div class="footer-bottom">
  <div class="payment footer-bottom-part">
    <span>We Accept:</span>
    <img src="assets/images/cc.png" alt="#" />
  </div>

  <ul class="social footer-bottom-part">
    <li>
      <span>Follow Us On:</span>
    </li>
    <li>
      <a href="https://www.facebook.com/ahmed.tiger.300/" target="_blank"
        ><img src="/assets/images/facebook.png" alt="Facebook"
      /></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/ahmedalian/" target="_blank"
        ><img src="/assets/images/linkedin.png" alt="LinkedIn"
      /></a>
    </li>
    <li>
      <a href="https://github.com/ahmedalianz" target="_blank"
        ><img src="/assets/images/github.png" alt="GitHub"
      /></a>
    </li>
  </ul>
</div>
